body, html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.titles{
	font-weight: bold;
	font-size: 1.4em;
}

header{
	height: 70px;
	background-color: white;
	padding: 0px 15px;
	font-family: 'Lato', sans-serif;
	margin-bottom: 4px;
}

#header_flex{
	display: flex;
	justify-content: space-between;
	margin-top: -10px;
	padding-top: 0;
}

#header_est{
	width: 300px;
	margin-top: -20px;
	display: flex;
	justify-content: space-around;
}

#rouge{
position: absolute;
left: 270px;
top: 24px;
width: 2px;
height: 30px;
background-color: red;
}

h1 #marque{
	font-size: 2em;
}

#tel{
	margin-top: 20px;
	width: 12px;
	height: 12px;
}

#telephone{
	margin-top: 35px;
}

#mon_compte{
	margin-top: 30px;
	width: 120px;
	height: 39px;
	text-align: center;
	line-height: 35px;
	background-color: gold;
	opacity: 0.7;
	color: red;
	padding: 10px 11px;
	font-weight: bold;
	border-radius: 5px;
}

#mon_compte:hover{
	opacity: 1;
}

#navi ul{
	width: 600px;
	margin: auto;
	height: 100px;
	background-color: white;
	display: flex;
	justify-content: center;
	margin-bottom: 0px;
	font-family: 'Lato', sans-serif;
}

#navi ul li{
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	width: 180px;
	height: 45px;
	border-radius: 5px;
	margin-right: 7px;
	margin-top: 3px;
	padding: 12px 15px;
	background-color: rgb(248, 248, 249);
	text-align: center;
	line-height: 20px;
}

#navi ul li:hover{
	background-color: gold;
	transition: 0.7s;
}

#navi ul li:checked{
	background-color: gold;
}

#navi ul li a{
color: black;
font-size: 1.2em;
text-decoration: none;
}

#navi ul li a:hover{
text-decoration: none;
}

#navi ul li a:active{
text-decoration: none;
}

.trait{
	height: 1px;
	width: 95%;
	margin: auto;
	background-color: grey;
}

main{
	margin-top:7px;
	padding-top: 0;
}

#film{
	margin-top: -5px;
	width: 100%;
	height: 443px;
	margin-bottom: 65px;
}

#etapes{
	margin-top: 60px;
	width: 100%;
	height: 460px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-right: 10px;
}

.etape{
	display: inline-block;
	width: 280px;
	padding-top: 12px;
	padding-left: 40px;
	overflow: visible;
}

.etape p{
	text-align: center;
	margin-left: -15px;
}

.etape h4{
text-align: center;
height: 30px;
}

.image{
	width: 160px;
	height: 130px;
	margin: auto;
	border-radius: 8px;
	margin-left: 30px;
}

#aile{
	width: 100%;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: url('../../images/airport.jpeg')  fixed no-repeat;
	background-position: center;
	background-size: cover;
}



#reserverClick{
	z-index: 20;
	position: absolute;
	top: 175px;
	left: 60px;
	height: 200px;
	width: 270px;
	border-radius: 7px;
	background-color: rgb(248, 248, 249);
	color: black;
	font-size: 1.4em;
	text-align: center;
	line-height: 35px;
	border-right: 1px solid gold;


}




#form label{
	display: flex;
	align-self: flex-start;
	margin-left: 30px;
}

#form input{
	margin-left: 5px;
	margin-bottom: 5px;
}

input{
	width: 200px;
	height: 20px;
	margin: 2px;

}

#form select{
	display: flex;
	align-self: flex-start;
	margin-left: 85px;
}

#form h1{
	margin-top: 0;
}

#reserverClick:hover{
	background-color: gold;
}

#form{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 325px;
	width: 380px;
	border-radius: 7px;
	background-color: #FFD700;
	z-index: 30;
	position: absolute;
	top: 220px;
	left: -400px;
	font-weight: bold;
	padding-top: 10px;
}

.horaires{
	display: flex;
	align-self: flex-start;
	margin-left: 10px;
}

.descriptif h1{
	text-align: center;
	font-size: 50px;
	margin-top: 40px;
}

.descriptif p{
	text-align: center;
	font-size: 25px;
	padding: 0 10px;
}
/************************ formulaire Trajet sur mesure ********************/

#mesure{
	width: 100%;
	height: 450px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: url('../../images/mad.jpg')  fixed no-repeat;
}

.formulaire{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 270px;
	width: 370px;
	border-radius: 7px;
	background-color: #FFD700;
	font-weight: bold;
	padding-top: 10px;
}

#mesure h1{
	color: white;
}

#submit{
	height: 30px;
	width: 100px;
	display: flex;
	align-self: center;
	cursor: pointer;
	margin-top: 10px;
}

.formulaire label{
	margin-left: 30px;
	display: flex;
	align-self: flex-start;
}

.formulaire input{
	margin-left: 10px;
	margin-bottom: 10px;
}

.hd{
	display: flex;
	align-items: center;
}

.hd input{
	width: 90px;
}

.hd label{
	margin-left: 10px;
}

.radio2{
	display: flex;
	width: 3px;
	justify-content: flex-end;
}
/*************************formulaire aeroport************************************/

#aile h1 {
	color: white;
}
.formulaire2{
	display: flex;
	flex-direction: column;
	height: 400px;
	width: 60%;
	border-radius: 7px;
	background-color: #FFD700;
	font-weight: bold;
	padding: 10px 10px;
	justify-content: center;
	align-items: center;
}
.radio{
	width: 2px;
	display: inline;
	align-items: flex-end;
}
.formulaire2 h3{
	  text-align: center;
}
#validation{
	height: 30px;
	width: 100px;
	cursor: pointer;
	text-align: center;
	margin-top: 15px;
}

#email{
	margin-top: 10px;
}

hr{
	width: 500px;
	margin-top: 20px;
}

/************************** formulaire mise a disposition **********************/

#disposition{
	width: 100%;
	height: 450px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: url('../../images/misead.jpeg')  fixed no-repeat;
	background-position: bottom;
	background-attachment: fixed;
	background-size: cover;
}

#disposition h1{
	color: white;
}
