body, html{
	width: 100%;
	height: 1000px;
	padding: 0;
	margin: 0 10px 0 0;
	background: white;
	transition: 0.5s ease;
}

.titles{
	font-weight: bold;
	font-size: 1.4em;
}

header{
	height: 70px;
	background-color: white;
	padding: 0px 15px;
	font-family: 'Lato', sans-serif;
	margin-bottom: 4px;
}

#header_flex{
	display: flex;
	justify-content: space-between;
	margin-top: -10px;
	padding-top: 0;
}

#header_est{
	width: 300px;
	margin-top: -20px;
	display: flex;
	justify-content: space-around;
}

#rouge{
position: absolute;
left: 270px;
top: 24px;
width: 2px;
height: 30px;
background-color: red;
}

h1 #marque{
	font-size: 2em;
}

#tel{
	margin-top: 20px;
	width: 12px;
	height: 12px;
}

#telephone{
	margin-top: 35px;
}

#mon_compte{
	margin-top: 30px;
	width: 120px;
	height: 39px;
	text-align: center;
	line-height: 35px;
	background-color: gold;
	opacity: 0.7;
	color: red;
	padding: 10px 11px;
	font-weight: bold;
	border-radius: 5px;
}

#mon_compte:hover{
	opacity: 1;
}

#navi ul{
	width: 600px;
	margin: auto;
	height: 100px;
	background-color: white;
	display: flex;
	justify-content: center;
	margin-bottom: 0px;
	font-family: 'Lato', sans-serif;
}

#navi ul li{
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	width: 180px;
	height: 45px;
	border-radius: 5px;
	margin-right: 7px;
	margin-top: 3px;
	padding: 12px 15px;
	background-color: rgb(248, 248, 249);
	text-align: center;
	line-height: 20px;
}

#navi ul li:hover{
	background-color: gold;
	transition: 0.7s;
}

#navi ul li:checked{
	background-color: gold;
}

#navi ul li a{
color: black;
font-size: 1.2em;
text-decoration: none;
}

#navi ul li a:hover{
text-decoration: none;
}

#navi ul li a:active{
text-decoration: none;
}

main{
	margin-top:7px;
	padding-top: 0;
}

#film{
	margin-top: -5px;
	width: 100%;
	height: 443px;
	margin-bottom: 65px;
}

#etapes{
	margin-top: 60px;
	width: 100%;
	height: 380px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-right: 10px;
}

.etape h4{
text-align: center;
height: 30px;
}

.image{
	width: 160px;
	height: 130px;
	border-radius: 7px;
}

#aile{
	width: 100%;
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: url('../../images/airport.jpeg')  fixed no-repeat;
	background-position: center;
	background-size: cover;
}

#reserverClick{
	z-index: 20;
	position: absolute;
	top: 175px;
	left: 60px;
	height: 200px;
	width: 270px;
	border-radius: 7px;
	background-color: rgb(248, 248, 249);
	color: black;
	font-size: 1.4em;
	text-align: center;
	line-height: 35px;
	border-right: 1px solid gold;
	cursor: pointer;
}

#form label{
	display: flex;
	align-self: flex-start;
	margin-left: 30px;
}

#form input{
	margin-left: 5px;
	margin-bottom: 5px;
}

input{
	width: 200px;
	height: 20px;
	margin: 2px;

}

#form select{
	display: flex;
	align-self: flex-start;
	margin-left: 85px;
}

#form h1{
	margin-top: 0;
}

label{
	font-family: 'Cuprum';
}

#reserverClick{
	font-family: 'Cuprum';
	font-weight: bold;
}

#reserverClick:hover{
	background-color: gold;
	font-family: 'Cuprum';
	font-weight: bold;
}

#form{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 325px;
	width: 380px;
	border-radius: 7px;
	background-color: #FFD700;
	z-index: 30;
	position: absolute;
	top: 220px;
	left: -400px;
	font-weight: bold;
	padding-top: 10px;
}

#form h1{
	font-family: 'Cuprum';
	font-size: 25px;
}

.horaires{
	display: flex;
	align-self: flex-start;
	margin-left: 10px;
}

.descriptif{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 350px;
}

.descriptifP{
	font-family: 'Cuprum';
	text-align: center;
	height: 470px;
	background-color: white;
}
#trainAccueil{
	width: 500px;
	margin:0;
	margin-left: 350px;
	background-color: white;
}
.descriptif h1{
	text-align: center;
	font-size: 50px;
	margin-top: 40px;
}

.descriptif p{
	text-align: center;
	font-size: 20px;
	padding: 0 10px;
}

.iconesDiv{
	display: flex;
	justify-content: space-around;
	margin-top: 90px;
}

.icone{
	height: 80px;
	width: 80px;
	margin-top: 5px;
}

.modeP{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modeP p{
	margin-top: 0;
}

.infoP{
	display: flex;
	flex-direction: column;
	background-color: white;
}
/************************ formulaire long trajet ********************/

#mesure{
	width: 100%;
	height: 450px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: url('../../images/mad.jpg')  fixed no-repeat;
}

.formulaire{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 260px;
	width: 370px;
	border-radius: 7px;
	background-color: #FFD700;
	font-weight: bold;
	padding-top: 10px;
}

#mesure h1{
	color: white;
	font-family: 'Cuprum';
	font-size: 50px;
}

.radio{
	font-family: 'Cuprum';
}

#submit{
	height: 30px;
	width: 100px;
	display: flex;
	align-self: center;
	cursor: pointer;
	margin-top: 10px;
}

.formulaire label{
	margin-left: 30px;
	display: flex;
	align-self: flex-start;
}

.formulaire input{
	margin-left: 10px;
	margin-bottom: 10px;
}

.hd{
	display: flex;
	align-items: center;
}

.hd input{
	width: 90px;
}

.hd label{
	margin-left: 10px;
}

.radio2{
	display: flex;
	width: 3px;
	justify-content: flex-end;
}

#destination{
	margin-bottom: 0px;
}
/*************************formulaire aeroport************************************/

#aile h1 {
	color: white;
	font-family: 'Cuprum';
	font-size: 50px;
}

#aile h2{
	font-family: 'Cuprum';
}

.formulaire2{
	display: flex;
	flex-direction: column;
	height: 480px;
	width: 60%;
	border-radius: 7px;
	background-color: #FFD700;
	font-weight: bold;
	padding: 10px 10px;
	justify-content: center;
	align-items: center;
}
.radio{
	width: 2px;
	display: inline;
	align-items: flex-end;
}
.formulaire2 h3{
	  text-align: center;
}
#validation{
	height: 30px;
	width: 100px;
	cursor: pointer;
	text-align: center;
	margin-top: 15px;
}

#email{
	margin-top: 10px;
}

hr{
	width: 500px;
	margin-top: 20px;
}
#vol{
	display:inline;
	float:right;
}
.baby{

	display:inline;
	justify-content: flex-start;
}
.radio{
	width: 3px;
	margin: 10px;



}
/************************** formulaire mise a disposition **********************/

#disposition{
	width: 100%;
	height: 450px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: url('../../images/misead.jpeg')  fixed no-repeat;
	background-position: bottom;
	background-attachment: fixed;
	background-size: cover;
}

.formulaire3{
		display: flex;
		flex-direction: column;
		height: 300px;
		width: 370px;
		border-radius: 7px;
		background-color: #FFD700;
		font-weight: bold;
		padding: 10px 10px;
		justify-content: center;
		align-items: center;
}

#disposition h1{
	color: white;
	font-family: 'Cuprum';
	font-size: 50px;
}

#disposition h2{
	font-family: 'Cuprum';
	margin-top: 0;
}

#disposition hr{
	width: 300px;
}

.debut{
	display: flex;
}
/****************************************************footer***********************************/
.separateur{
float: left;
	background: #ffbf00;
	height: 100px;
}
.footer{
	display:flex;
	justify-content: space-around;
	height: 100px;
	align-items: center;
	background-color: #ffbf00;
	position: fixed;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
}
.foot2 li{
	font-family: 'Cuprum';
	list-style-type: none;

}
.footer h2{
	font-family: 'Cuprum';
}
.foot2 a{
	color:black;
	text-decoration: none;

}
.foot2 a:hover{
	color:white;
}
